*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
}

header {
    background-color: lightblue;
    width: 100%;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

nav, footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    background-color: lightskyblue;
}

nav > ul {
    display: flex;
    flex-direction: row;
}

nav > ul > li {
    list-style: none;
    padding: 5px;
}

main {
    width: 100%;
    max-width: 900px;
    align-self: center;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 30px;
    margin-bottom: 10px;
}

p {
    margin-bottom: 15px;
}